.container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.tuoteryhma {
  list-style-type: none;
  margin: 0;
  padding: 0
}

.tuoteryhma li {
  border-bottom: 1px solid #c5c5c5;
  margin-bottom: 10px;
}

.tuoteryhma a {
  text-decoration: none;
  color: #000;
}

#kori {
  background-color: #000;
  color: #c9dd03;
  height: 40px;
  width: 40px;
  font-size: 1em;
  font-weight: 700;
  border: 1px solid #c9dd03;
  padding: 10px;
}

#kori span {
  position: relative;
  top: -30px;
  left: 20px;
  font-size: 0.6em;
  z-index: 100;
  border-radius: 10px;
  background-color: #c9dd03;
  color: #000;
  width: 20px;
  display: block;
  padding: 5px;
  text-align: center;
}

.ostoskori_poista {
  text-decoration: none;
  color: #000;
}

.card {
  width: 250px;
  margin: 10px;
}

.card h4, .card p, .card .hinta {
  margin-left: 10px;
}

.card p {
  height: 40px;;
}

.card img {
  margin-bottom: 20px;
  width: 250px;
}

.hinta {
  font-size: 1.2em;
  color: #bb2437;
}

.osta {
  width: 100%;
}
#tyhjenna {
  text-decoration: none;
  color: #000;
}

.navbar-dark .navbar-brand {
  color: #c9dd03;
}

footer .container {
  margin-top: 0;
}

footer {
  position: fixed;
  background-color: #000;
  color: #fff;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

footer span {
  color: #c9dd03;
}

.yllapito_poista, .yllapito_tallenna {
  text-decoration: none;
  color: #000;
}

.yllapito_lisaa {
  width: 100%;
  text-align: right;
}